body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  flex-direction: column;
  background-image: url('../images/background.jfif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  opacity: 0.95;
  background-position: 9em;
  background-position-x: center;
  background-size: 170%;
}
.game-header {
  font-size: 24px;
  color: #3498db;
  padding: 0px;
  border: none;
  margin-bottom: 60px;
}

#game-name {
  animation: glow 2s ease-in-out infinite alternate;
  font-family: Georgia;
}

.game-container {
  text-align: center;
  position: relative;
  box-shadow: 0 0 40px #3498db;
  opacity: 90%;
}

.start-screen,
.game-over-screen {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#game-over-title {
  color: #ffffff;
}

#winner {
  color: #ffffff;
  animation: both;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
}

#start-button:hover {
  background-color: #60abdd;
  color: white;
}

#one-player-start-button:hover {
  background-color: #60abdd;
  color: white;
}

.game {
  width: 900px;
  height: 400px;
  background-color: #112939;
  position: relative;
}

.paddle {
  width: 10px;
  height: 80px;
  background-color: #3498db;
  position: absolute;
}

#leftPaddle {
  left: 0;
}

#rightPaddle {
  right: 0;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
}

.score {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* glowing text effect used in title */

@keyframes glow {
  from {
    text-shadow: 0 0 20px #3498db;
  }
  to {
    text-shadow: 0 0 30px #4ea1d9, 0 0 10px #83b5d6;
  }
}
